:root {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

*, input, button, input::placeholder {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}